<div id="wrapper">

  <div id="map"></div>

  <div id="over-map">
    <div class="form">
    <%= form_tag "courts/get_address" do %>
      <%= text_field_tag 'address', nil, :placeholder => "Last Residence Address" %>
      <%= submit_tag "Search", :class => "button" %>
    <% end %>
    </div>

    <% if @address.present? %>
      <div class="clear-button">
        <%= link_to "Clear", courts_clear_path, method: :post, :class => "button" %>
      </div>

      <div>
        <hr> 
        <p class="court-overlay"><span class="court-overlay-title">Closest Estates Court to:</span> <%= image_tag("pin.png", :class => "pin") %> <%= @address %></p>
        <p class="court-overlay"><%= @closest_name %></p>
        <p class="court-overlay"><%= @closest_address %></p>
        <p class="court-overlay"><a href="tel:<%= @closest_phone %>"><%= @closest_phone %></a></p>
      </div>
    <% end %>
  </div>

  
</div>

<script>

function initMap() {
  <% if @address.present? %>
    var searchLatLng = {lat: <%= @search_lat %>, lng: <%= @search_long %>};

    var map = new google.maps.Map(document.getElementById('map'), {
      center: searchLatLng,
      zoom: 8
    });

    var markerSearch = new google.maps.Marker({
      position: searchLatLng,
      label: "A",
      map: map,
      animation: google.maps.Animation.DROP,
      title: "<%= @address %>"
    });
  <% else %>
    var myLatLng = {lat: 43.65400959999999, lng: -79.3872207};

    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 8
    });

  <% end %>

  <% @courts.each do |c| %>

    var courtLatLng = {lat: <%= c.latitude %>, lng: <%= c.longitude %>};

    var marker<%= c.id %> = new google.maps.Marker({
      position: courtLatLng,
      map: map,
      title: "<%= c.name %>"
    });
    marker<%= c.id %>.addListener('click', function() {
      infowindow<%= c.id %>.open(map, marker<%= c.id %>);
    });

    var contentString = '<div class="content">'+
      '<div class="siteNotice">'+
      '</div>'+
      '<h1 class="firstHeading"><%= c.name %></h1>'+
      '<div class="bodyContent">'+
      '<p><b><%= c.address %></b></p>'+
      '<a href="tel:<%= c.phone %>"><%= c.phone %></a>'+
      '</div>'+
      '</div>';

    var infowindow<%= c.id %> = new google.maps.InfoWindow({
      content: contentString
    });
  <% end %>
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGTDrsp5X_xvV7RLsXIzd61YH7eedt5TI&callback=initMap"
async defer></script>